<% provide(:title, "Contact") %>

<div class="container">
  <h3>Contact Us</h3>
  
  <%= form_for @contact, url: create_contact_url do |f| %>
  
  <%= render 'shared/error_messages' , object: f.object %>
   <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :message %>
  <%= f.text_field :message, class: 'form-control' %>

  <%= f.submit 'Submit', class: 'btn btn-primary'%>
   <%end%>
</div>
